@model TaskManagementApp.Application.DTOs.ProjectDTO

@{
    ViewData["Title"] = "Создать проект";
    var users = ViewData["Users"] as List<SelectListItem>;
}

<h2>Создание проекта</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Название</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Владелец проекта</label>
        <select asp-for="OwnerId" class="form-select" asp-items="users"></select>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
